


.qr-card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    -webkit-transform: translate(-50%, 10%);
    -moz-transform: translate(-50%, 10%);
    -ms-transform: translate(-50%, 10%);
    -o-transform: translate(-50%, 10%);
}

.image{
    margin: 5%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h4{
    margin: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p{
    margin: 8%;
    margin-bottom: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
}

body{
    background-color: rgba(150, 186, 197, 0.595);
    position:relative;
}